__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo

.venv/
venv/
env/
ENV/

.python-version

build/
dist/
*.spec.bak
*.toc
*.manifest
*.pdb


.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

*.log
*.tmp
*.temp

.env
.env.*

.DS_Store
Thumbs.db
Desktop.ini

.vscode/
.idea/

outputs/
models/
